h1 {
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
li {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.box1{
    float: left;
    width: 50%;
}
.box2{
    float: left;
    width: 50%;
}
.box3{
    float: initial;
    width: 50%;
}
body{
    background-color: blanchedalmond;
}